<div class="columns">
  <% if @order.books.length > 0 %>
  <ul>
    <% @order.order_items.each do |item| %>
    <li>
      <span>
        <%= link_to item.book.title, book_path(item.book) %>
      </span>
      <span class=""><%= item.quantity %></span>
      <!-- <input type="text" value="<%= item.quantity %>"> -->
      <span class="alert tiny button">&times;</span>
    </li>
    <% end %>
  </ul>
  <p>Total: <span><%= t(:currency) %></span> <span><%= @order.get_total_price %></span></p>
  <% else %>
    <h2>Cart is empty</h2>
  <% end %>
</div>