<div class="columns">
  <% if @order.books.length > 0 %>
  <%= form_for @order, method: :patch do |order_form|%>
  <ul class="books">
    <li>
      <div class="row">
        <div class="medium-10 small-12 columns">
          <div class="row collapse">
            <div class="small-7 columns">
              <p>Book</p>
            </div>
            <div class="small-3 columns">
              <p>Price</p>
            </div>
            <div class="small-2 columns">
              <p>Qty</p>
            </div>
          </div>
        </div>
      </div>
    </li>
  <% @order.order_items.each do |item| %>
    <li>
      <div class="row">
        <div class="medium-10 small-12 columns">
          <div class="row collapse">
            <div class="small-7 columns">
              <%= link_to item.book.title, book_path(item.book) %>
            </div>
            <div class="small-3 columns">
              <p><%= t("currency") %> <%= item.book.price %> </p>
            </div>
            <div class="small-2 columns">
              <%= order_form.fields_for "order_items[]", [] do |oi| %>
                  <%= oi.number_field :quantity, value: item.quantity, min: 1 %>
                  <%= oi.hidden_field :id, value: item.id %>
              <% end %>
            </div>
          </div>
        </div>
        <div class="medium-2 small-12 columns">
        <%= link_to "×", order_order_item_path(@order, item), method: :delete, class: "expand postfix alert button", title: 'Remove "' + item.book.title + '"' %>
        </div>
      </div>
      <hr>

    </li>
  <% end %>
    <%= order_form.submit "Update", class: "button" %>
  <% end %>
  </ul>
  <p>Total: <span><%= t(:currency) %></span> <span><%= @order.total_price %></span></p>
  <div class="row collapse">
    <div class="small-12 columns">
      <%= link_to "Continue shopping", root_path, class: "small button" %>
      <%= link_to "Checkout", order_checkout_address_path(@order.id), class: "small button" %>
      <%= form_for @order, method: :delete do |f| %>
        <%= f.hidden_field :id %>
        <%= f.submit "Clear cart", class: "alert button" %>
      <% end %>
    </div>
  </div>
  <% else %>
    <h2>Cart is empty</h2>
  <% end %>
</div>