<% if customer_signed_in? && current_customer.admin? %>
  <menu class="admin-menu columns">
    <%= link_to "Add book", new_book_path %> <span style="color: #008CBA"> | </span>
    <%= link_to "Add author", new_author_path %> <span style="color: #008CBA"> | </span>
    <%= link_to "Add category", new_category_path %>
  </menu>
<% end %>
<div class="medium-10 small-12 columns">
  <ul class="books-list row">
    <% @books.each.with_index do |book, num| %>
      <% if num == @books.length - 1 %>
        <li class="small-12 medium-6 large-4 columns end">
      <% else %>
        <li class="small-12 medium-6 large-4 columns">
      <% end %>
        <div class="cover-container">
          <%= image_tag book.cover_url.to_s %>
        </div>
        <div class="panel">

        <h3>
          <%= link_to book_path(book), title: book.title do %>
            <%= book.title %>
          <% end %>
        </h3>
        <p>
          <%= link_to book.author.firstname + " " + book.author.lastname, author_path(book.author) %>
        </p>
        <% if customer_signed_in? %>
          <div class="row collapse">

          <% if book.in_stock? %>
            <%= form_for [current_customer.order_in_progress, @order_item], method: :post, html: {class: "medium-6 small-12 columns"}  do |f|%>
              <%= f.hidden_field :quantity, value: 1 %>
              <%= f.hidden_field :book_id, value: book.id %>
              <%= f.hidden_field :order_id, value: current_customer.order_in_progress.id %>
              <%= f.submit "Add to cart", class: "small success button expand add-to-cart" %>
            <% end %>
          <% else %>
            <div class="medium-6 small-12 columns">
              <div class="small alert add-to-cart button expand"><%= t(:out_of_stock) %></div>
            </div>
          <% end %>
          <% if current_customer.admin? %>
            <div class="medium-6 small-12 columns">
              <%= link_to "Edit book", edit_book_path(book), class: "small button expand" %>
            </div>
          <% end %>
          </div>
        <% end %>
        </div>
        <hr>
      </li>
    <% end %>
  </ul>
</div>
<aside class="medium-2 small-12 columns">
  <p>Browse by category:</p>
  <%= render "categories/index" %>
</aside>