<div class="columns">
  <div class="panel">
    <div class="row collapse">
      <div class="medium-7 columns">
        <div class="cover-container__show">
          <%= image_tag @book.cover_url.to_s %>
        </div>
        <h2><%= @book.title %></h2>
        <p>
          <%= link_to @book.author.firstname + " " + @book.author.lastname, author_path(@book.author.id) %>
          <%= @book.author.biography %>
        </p>
        <% if customer_signed_in? && current_customer.admin? %>
          <div>
            <%= link_to "Edit book", edit_book_path, class: "button" %>
            <%= link_to "Edit author", edit_author_path(@book.author), class: "button" %>
          </div>
        <% end %>
      </div>
      <div class="medium-2 columns">
        <div class="price">
          <p>
            <strong>
              <%= t "currency" %><%= @book.price.to_s %>
            </strong>
          </p>
          <% if @book.in_stock? %>
          <small class="success label"><%= t "in_stock" %></small>
          <% else %>
          <small class="alert label"><%= t "out_of_stock" %></small>
          <% end %>
        </div>
        <div class="label">
          <%= @book.category.title %>
        </div>
      </div>
      <div class="medium-3 columns">
        <% if customer_signed_in? && @book.in_stock? %>
        <%= form_for [current_customer.order_in_progress, @order_item], method: :post do |f| %>
          <%= f.hidden_field :book_id, value: @book.id %>
          <%= f.hidden_field :order_id, value: current_customer.order_in_progress.id %>
          <%= f.number_field :quantity, value: 1, min: 0 %>
        <%= f.submit "Add to cart", class: "small button add-to-cart" %>
        <% end %>
        <% end %>
      </div>
    </div>
    <hr>
    <div class="small-12 description">
      <%= @book.description %>
    </div>
  </div>

  <% if @book.ratings.length > 0 %>
  <p>
    Average rating:
    <%= @book.ratings.inject(0){|sum, rating| sum+rating.rating}/@book.ratings.length %>
  </p>
    <% @book.ratings.each do |rating| %>
    <div class="panel callout">
      <p><strong><%= rating.rating %></strong> by <%= rating.customer.firstname %></p>
      <p><%= rating.review %></p>
    </div>
    <% end %>
  <% end %>
  <!-- should this logic be here? -->
  <% if customer_signed_in? && !((current_customer.ratings & @book.ratings).length > 0) %>
    <%= form_for @rating, html: {class: "panel"} do |f| %>
      <p>Rate this book:</p>
      <div class="small-1 columns">
        <%= f.hidden_field :book_id, value: @book.id %>
        <%= f.hidden_field :customer_id, value: current_customer.id %>
        <%= f.select :rating,  (1..10).to_a %>
      </div>
      <div class="small-11 columns">
        <%= f.text_area :review, placeholder: "Review" %>
      </div>
      <br>
      <br>
      <br>
      <%= f.submit "Submit review ", class: "button" %>
    <% end %>
  <% end %>
</div>