<!DOCTYPE html>
<html>
<head>
  <title>Amazon</title>
  <meta name="viewport" content="initial-scale=1, width=device-width">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.css">
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="grid-frame">
  <main class="clearfix">
      <header class="columns">

        <% if customer_signed_in? %>
          <small>Signed in as <%= current_customer.firstname %></small>
          <br>
        <% end %>
        <nav>
          <%= link_to t("menu.home"), root_path, class: "secondary button small" %>
          <% if customer_signed_in? %>
            <% if (current_customer.order_in_progress) %>
              <%= link_to order_path(current_customer.order_in_progress) , class: "secondary button small" do %>
                <i class="fi-shopping-cart large"></i>
                <span>: <%= current_customer.order_in_progress.books.length %></span>
              <% end %>
            <% else %>
                <div class="small secondary button">
                  <i class="fi-shopping-cart large"></i>
                  <span>: 0</span>
                </div>
            <% end %>
            <%= link_to "Log out", destroy_customer_session_path, :method => :delete, class: "secondary button small" %>
            <%= link_to "Settings",  edit_customer_registration_path %>
          <% else %>
            <%= link_to "Log in", new_customer_session_path, class: "secondary button small" %>
            <%= link_to "Sign up", new_customer_registration_path, class: "secondary button small" %>
          <% end %>
        </nav>
      </header>
      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, class: name+" label columns" %>
      <% end -%>
      <%= yield %>
  </main>
</body>
</html>